.container {
  border: 1px solid navy;
  border-radius: 10px;
  padding: 20px;
  margin: 100px auto;
  margin-bottom: 0px;
  max-width: 600px;
  font-family: "Silkscreen", cursive;
  background: rgb(191, 232, 246);
}

body {
  background-repeat: no-repeat;
  background-image: url("https://media2.giphy.com/media/c2CDTcHLscXaU5s1vK/giphy.gif?cid=ecf05e47a0y68hy011oj50qmmm4u1ybo50088a2zcgegcnw0&rid=giphy.gif&ct=g");
  background-size: cover;
}

h4 {
  opacity: 0.6;
  font-size: 16px;
}

li {
  list-style: none;
  margin: 0 0 10px;
  color: white;
  text-shadow: 2px 2px 0px black;
}

footer {
  font-size: 8px;
  margin: 10px auto;
  max-width: 600px;
  margin-bottom: 0px;
}

.temperature {
  font-size: 35px;
}

.temperature-units {
  font-size: 14px;
  position: relative;
  top: -14px;
  left: -16px;
}

.weather-details {
  font-size: 15px;
}

.emoji {
  font-size: 22px;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temp {
  font-size: 12px;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}

.weather-forecast-img {
  margin: 0 auto;
  width: 45px;
}
